voila
earthengine-api


git+https://github.com/12rambau/sepal_ui.git@sepal_pre_release

# custom libs
rasterio
bqplot
matplotlib
numpy
pandas
# pin until sepal releases a new version and latest ipyvuetify version is installed
ipyvuetify==1.8.10